
.page-title{
    color: #2fa7a1;
    font-size: 40px;
}

.news-card {
    min-height: 300px !important;
    /* height: 450px !important; */
}

.news-image-container {
    display: flex !important;
    justify-content: space-between !important;
}

.news-title {
    width: 70%;
}

.news-image-container img {
    width: 100px;
    height: 100px;
}

.news-card p {
    color: black;
    margin: 10px 0px !important;
}

.provider-container {
    display: flex;
    justify-content: space-between;
}

.provider-name {
    margin-left: 10px;
}