/* @media screen and (max-width:1300px) {
    .main {
        margin-left: 50px;
    }
}

@media screen and (max-width:1170px) {
    .main {
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px) {
    .main {
        margin-left: 100px;
    }
} */

/* @media screen and (max-width:800px) {
    .app {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar {
        flex: 1;
    }

    .main {
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container {
        height: 8vh;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }

    .menu-control-container {
        display: block !important;
    }

    .ant-menu {
        position: absolute;
        right: 0px;
    }

    .home-title {
        font-size: 1.4rem !important;
    }

    .show-more {
        font-size: 1.3rem !important;
    }
}

@media screen and (max-width:1000px) {
    .stats-container {
        flex-direction: column;
    }

    .coin-desc-link {
        flex-direction: column;
    }

    .stats-container h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .coin-links {
        padding: 0px;
    }

    .coin-detail-container {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        margin-top: 20px;
    }
} */



.app {
    display: flex; 
    overflow: hidden;
    /* height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 95%; */

}

.navbar {
    flex: 0.2;
    /* position: relative; */
    background-color: #2fa7a1;
    /* max-width: 270px !important; */

}

.main {
    flex: 0.8;
    width: 100%;

}

.routes {
    padding: 30px;
}

.footer {
    background-color: #2fa7a1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center ;
}

.footer a{
    color:black !important
}