:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --bgNav: #2fa7a1;
    --font-color: #0071bd;
    --logo-color: rgb(15, 4, 38);
    --light-blue: #e6f7ff;
    --border: #d9d9d9;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-container {
    /* width: 270px !important; */
    /* position: fixed; */
    /* position:absolute; */
    /* background-image: url(../../images/backImage.jpg); */
    left: 0;
    height: 100vh;
    margin: 0px;
    background-color: #2fa7a1;
}

.menu {
    /* position: relative; */
    /* opacity: 0; */
    background-color: var(--bgNav) !important;

}


.logo {
    margin: 0 0 0 15px;
}

.logo-link {
    color: var(--logo-color) !important;
}

/* .logo a {
    color: white;
} */

.logo-container {
    background-color: rgb(32, 236, 192);
    /* width: 270px !important; */
    /* background-color: #2fa7a1; */
    display: flex;
    padding: 10px;
    
    align-items: center;
    /* width: 100%; */
}

/* .ant-menu-item{
    width: 270px !important;
    
} */

a:hover {
    color: var(--bgPrimary) !important;
}



.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.auth-link{
    display: flex;
    justify-content: end;
}

.auth-button{
    color: rgb(75, 67, 67) !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: large !important;
    font-weight:bold !important;
}

.profile{
    align-self: flex-end !important;
}

